# database data
DB_NAME="database name" #hedhi ba3d badelha : librairie DB
DB_HOST="host"
DB_PASSWORD="db password"
DB_USERNAME="username"

APP_ENV=development
APP_DEBUG=true
# teb3a google auth
GOOGLE_CLIENT_ID="client id"
GOOGLE_CLIENT_SECRET="secret client"
GOOGLE_REDIRECT_URI=http://example.com
#teb3a php mailer
MAILER_EMAIL="email utiliser"
MAILER_PASSWORD='password'