 


.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 28px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}


.rating-container{
    width: 100%;
    height: fit-content;
    text-align: left;
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;


}
.rating-container .number{
    color: #666;
    font-size: 0.8em;
    font-weight: 600;

    margin-top: 3px;
}